@model BarberShop.Models.MenuViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Menu"))
{

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title mb-5 text-center">Menu</h5>

            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-5">

                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Barber</span>
                        </div>
                        <select asp-for="@Model.Orders.BarbersId" asp-items="@(new SelectList(Model.Barbers,"Id","Name"))" class="form-control"> <option value="">Select a Barber</option> </select>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Cuts</span>
                        </div>
                        <select asp-for="@Model.Orders.CutsId" asp-items="@(new SelectList(Model.Cuts,"Id","Cuts"))" class="form-control">  <option value="">Select a Cut</option> </select>
                    </div>


                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input asp-for="@Model.Booking.Date" asp-action="Create" asp-controller="Menu"  class="form-control" type="date" />
                    </div>
                </div>
            </div>
        </div><!--Tab content-->
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>




}
