@model BarberShop.Models.MenuViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Menu"))
{


    <div class="container">
        <div class="row">
            <div class="col-10">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-Barber-tab" data-toggle="tab" href="#nav-Barber" role="tab" aria-controls="nav-home" aria-selected="true">Barber</a>
                        <a class="nav-item nav-link" id="nav-Cut-tab" data-toggle="tab" href="#nav-Cut" role="tab" aria-controls="nav-profile" aria-selected="false">Cut</a>
                        <a class="nav-item nav-link" id="nav-Ticket-tab" data-toggle="tab" href="#nav-Ticket" role="tab" aria-controls="nav-contact" aria-selected="false">Ticket</a>
                    </div>
                </nav><!--Nav bar links-->

                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-Barber" role="tabpanel" aria-labelledby="nav-home-Barber">

                        <div class="card mt-5">

                            <div class="card-body">

                                <div class="col-5">

                                    <div class="input-group  mb-2">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text">Barber</span>
                                        </div>
                                        <select asp-for="@Model.Orders.BarbersId" asp-items="@(new SelectList(Model.Barbers, "Id", "Name"))" class="form-control"> <option value="">Select a Barber</option> </select>
                                    </div>

                                </div><!--col-5-->

                            </div><!--card-body-->

                        </div><!--card-->

                    </div><!--Barber panel-->



                
                    <div class="tab-pane fade" id="nav-Cut" role="tabpanel" aria-labelledby="nav-Cut-tab">

                        <div class="card mt-5">

                            <div class="card-body">

                                <h5 class="card-title mb-5 text-center">Menu</h5>

                                <div class="col-5">

                                    <div class="input-group  mb-2">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text">Cuts</span>
                                        </div>
                                        <select asp-for="@Model.Orders.CutsId" asp-items="@(new SelectList(Model.Cuts, "Id", "Cuts"))" class="form-control">  <option value="">Select a Cut</option> </select>
                                    </div><!--col-5-->

                                </div><!--card-body-->

                            </div><!-- card-->

                        </div><!--Cut panel-->

                    </div>

                    <div class="tab-pane fade" id="nav-Ticket" role="tabpanel" aria-labelledby="nav-Ticket-tab">
                        <div class="card mt-5">
                            <div class="card-body">
                                <h5 class="card-title mb-5 text-center">Menu</h5>
                                <div class="col-5">
                                    <div class="input-group  mb-2">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text">Time</span>
                                        </div>

                                        <input id='form_datetime' asp-for="@Model.Booking.Time" asp-action="Create" asp-controller="Menu" class="form-control" />

                                    </div>
                                </div>

                            </div>
                            <div class="col-5">
                                <div class="input-group  mb-2">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">Date</span>
                                    </div>
                                    <input asp-for="@Model.Booking.Date" asp-action="Create" asp-controller="Menu" class="form-control" type="datetime" />
                                </div>
                            </div>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>



                    </div><!--Ticket panel-->
                </div><!--content tab-->
            </div><!--col-10-->


        </div><!--row-->

    </div><!--container-->





}
