@model BarberShop.Models.MenuViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Menu"))
{
   
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-7">
                <button class="btn btn-outline-dark btn-lg btn-block mb-2" type="button" data-toggle="collapse" data-target="#barber" aria-expanded="false" aria-controls="Book">Book</button>
            </div>

        </div><!--row justify-content-center-->

        <div class="collapse multi-collapse" id="barber">

            <div class="row">

                <div class="col-4">

                    <div class="card m-md-5" style="width: 18rem;">
                        <img src="~/Images/Barber.jpg" class="card-img-top" alt="Responsive image">

                        <div class="card-body">

                            <h5 class="card-title text-center">Choose your Barber </h5>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            <div class="input-group">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text">Barbers</span>
                                </div>

                                @*<select asp-for="@Model.Orders.BarbersId" asp-items="@(new SelectList(Model.Barbers, "Id", "Name"))" class="form-control">
                                <option value="">Select a Barber</option>
                            </select>*@


                                <select  asp-for="@Model.Orders.BarbersId" class="form-control">

                                    <option value="">Select a Barber</option>

                                    @foreach (var barber in Model.Barbers)
                                    {
                                        <option value="@barber.Id">@barber.Name </option>

                                     
                                    }
                                </select>

                            </div>

                            <div class="row justify-content-center">

                                <div class="col-8 ml-auto mt-3">
                                    <p>
                                        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#cut" aria-expanded="false" aria-controls="Barber">Next</button>
                                    </p>
                                </div>

                            </div>

                        </div><!--card-body-->
                    </div><!--Barber card-->
                </div><!--col-4-->





                <div class="col-4">
                    <div class="collapse multi-collapse" id="ticket">

                        <div class="card m-md-5" style="width: 18rem;">
                            <img src="~/Images/ticket.jpg" class="card-img-top" alt="Responsive image">

                            <div class="card-body">

                                <h5 class="card-title text-center"> Your Ticket </h5>

                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                <div class="input-group  mb-2">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">Time</span>
                                    </div>

                                    @{ var count = 0; }
                                    <select id="month" class="form-control">
                                        <option value="">Select a Month</option>

                                        @for (int i = 0; i < Model.Calendar.Months.Count; i++)
                                        {
                                            <option value="">@Model.Calendar.Months[1]</option>
                                            count = i;
                                        }


                                    </select>


                                    <select id="month" class="form-control">
                                        <option value="">Select a day</option>

                                        @for (int i = 0; i < Model.Calendar.Days.Count; i++)
                                        {
                                            <option value="">@Model.Calendar.Days[i]</option>
                                            count = i;
                                        }


                                    </select>




                                </div>


                                <div class="input-group  mb-2">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">Date</span>
                                    </div>
                                    <input asp-for="@Model.Booking.Date" asp-action="Create" asp-controller="Menu" class="form-control" type="datetime" />
                                </div>

                            </div><!--card-body-->
                        </div><!--Ticket card-->
                    </div><!--collapse-->
                </div><!--col-4-->


                <div class="col-4">
                    <div class="collapse multi-collapse" id="cut">
                        <div class="card m-md-5" style="width: 18rem;">
                            <img src="~/Images/images (1).png" class="card-img-top" alt="Responsive image">

                            <div class="card-body">

                                <h5 class="card-title text-center">Choose your Barber </h5>

                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                <div class="input-group  mb-2">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">Cuts</span>
                                    </div>
                                    <select asp-for="@Model.Orders.CutsId" asp-items="@(new SelectList(Model.Cuts, "Id", "Cuts"))" class="form-control">  <option value="">Select a Cut</option> </select>
                                </div>


                                <div class="col-8 mx-auto mt-3">
                                    <p>
                                        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#ticket" aria-expanded="false" aria-controls="cut">Next</button>
                                    </p>

                                </div>


                            </div><!--card-body-->
                        </div><!--Cut card-->
                    </div><!--collapse-->
                </div><!--col-4-->


            </div><!--row-->

            <div class="row">


            </div><!--row-->
        </div><!--collapse multi-collapse-->


            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="~/Images/Logo.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div><!--container-fluid-->
        }
